html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0; 
    display: flex; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 80%; 
    background-color: white;
}


.structure {
    flex-basis: 200px;
    padding: 0 5px;
}
.structure div {
    border-style: dashed;
    border-width: 1%;
    border-color: gainsboro;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    height: inherit;
    margin: 2px;
    background-color: #aaa;
    flex: 1;
}

.structure div .label { margin-right: .5em; font-size: 120%; font-weight: bold; display: inline-block; }
.structure div p { margin-top: 0; margin-bottom: .5em;}

.selection {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}    .selection select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 5px 15px;
        outline: 0;
        border: 1px solid #d6bcd6;
        border-radius: 3px;
        background: linear-gradient(to top, #ededed 5%, #bab1ba 100%);
        color: #264249;
        margin-top: 0em; 
        font-size: 100%;
    }
        .selection select::-ms-expand {
            display: none;
        }
        .selection select:hover,
        .selection select:focus {
            color: #000000;
            background: #ededed;
        }
        .selection select:disabled {
            opacity: 1;
            pointer-events: none;
        }

.uploading .inputfile {margin-bottom: 0.25em; max-width: 100%; overflow: hidden;}
.uploading textarea {
   margin-top: 3px;
   max-width: 97%;
   min-width: 97%;
   width: 97%;
   max-height: 200px;
   border-radius: 3px;
   border:1px solid #d6bcd6;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input[type="file"] {
    display: none;
}


.button {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:5px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor: pointer;
	color:#264249;
	padding:5px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    margin-bottom: 3px;
    font-size: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	position:relative;
	top:1px;
}

.mini-container div {
    border-style: dashed;
    border-width: 1%;
    border-color: gainsboro;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    height: inherit;
    margin: 2px;
    background-color: #aaa;
    flex: 1;
}

.mini-container div .label { margin-right: .5em; font-size: 120%; font-weight: bold; display: inline-block; }
.mini-container div p { margin-top: 0; margin-bottom: .5em;}



/* network-specific controls */

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-items: end;
    height: 100%;
}



.mini-container {
    display: flex;
    background-color: #aaa;
    border-radius: 3px;
    margin: 0 5px;
    flex-basis: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2px;
}



/* SVG styles */
.svg {
    flex-basis: 100%;
    min-width: 200px;
    order: 2;
  }
  .links line {
    stroke: #aaa;
  }
  .nodes circle {
    pointer-events: all;
  }

#networks {
    width:100%;height:100vh;padding:0;margin:0;
    position: relative;
}
  
#main{
   float: right;
   height:100vh;
    width: 50%;
}

.clearfix {
    height: 100%;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}


#sidebar{
   width:50%;
   float: left;
   height:100vh;
   overflow-y: hidden;
}

#dragbar{
   background-color: gray;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}
#ghostbar{
    width:3px;
    background-color: gray;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}